<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rutas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="loading">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let i of [1,2,3]">
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-note slot="end">
          <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
        </ion-note>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!loading && routes.length > 0">
    <ion-list>
      <ion-list-header>
        <ion-label>Información de rutas</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let p of routes" [disabled]="!!p.isRejected" [attr.track]=" p.active ? 'taskIn' : 'taskOut'">
        <!-- [routerLink]="['/main/details/',p.id, p.customerId]" routerLinkActive="router-link-active" -->
        <ion-label>
          <h2>{{ p.name }}</h2>
          <p>{{ p.customerName }}</p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>


  <div *ngIf="!loading && routes.length == 0">
    <ion-list>
      <ion-list-header>
        <ion-label>Información de rutas</ion-label>
      </ion-list-header>
      <ion-item [attr.track]="'noresults'">
        <ion-label>
          <h2>Sin información</h2>
          <p>No hay más información para mostrar</p>
        </ion-label>
        <ion-note slot="end"></ion-note>
      </ion-item>
    </ion-list>
  </div>

  <ion-item lines="none">
    <ion-label color="medium" class="ion-text-center">{{ routes.length }} encontrado(s)</ion-label>
  </ion-item>
</ion-content>